html {
    height: 100%;
    font-family: 'Nunito', 'Arial', sans-serif;

    color: #19647E;
    background-color: #E5E5E5;
}

body {
    margin: 0;
    height: 100%;
}

button,
input[type=file]::file-selector-button {
    background: #19647E;
    color: #FFF;
    padding: 0.33rem 0.66rem;
    border: 1px solid #124658;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

button:hover,
input[type=file]::file-selector-button:hover {
    background: #124658;
}

a,
a:visited {
    color: #034748;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 50px;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
}

.title-emph {
    font-weight: bold;
}

.grid {
    flex: 1;
    padding: 1rem;
    --ag-line-height: 1.5rem;
}

.header div {
    margin: 0 1rem;
}

.header #title {
    font-size: 3rem;
}

.header #description {
    display: flex;
    flex-direction: column;
}

#file {
    width: 14rem;
}

#rawTextButton {
    margin: 0 0 0 1rem;
}

#rawText {
    height: 100%;
}

#links {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.ag-row .ag-cell {
    display: flex;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    max-width: 630px;
    width: calc(100% - 2rem);
}

#content h1 {
    padding-bottom: 1rem;
}

#content h2 {
    padding-bottom: 1rem;
}

.small {
    font-size: small;
}

@media screen and (max-width: 1536px) {

    html,
    body,
    .container {
        height: unset;
    }

    .header {
        height: unset;
        flex-direction: column;
    }

    .header #description {
        margin: 1rem 0 0 0;
        align-items: center;
        text-align: center;
    }

    #file,
    #rawText,
    #rawTextButton,
    #links {
        margin: 1rem 0 0 0;
    }

    #links {
        align-items: center;
    }

    .grid {
        height: calc(100vh - 2rem);
        flex: unset;
    }
}

@media screen and (max-width: 500px) {
    .header #description div {
        margin-bottom: .5rem;
    }

    .wbr {
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #071e26;
        color: #d1e0e5;
    }

    a,
    a:visited {
        color: #75a2b2;
    }
}