html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 50px;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
}

.grid {
    flex: 1;
    padding: 1rem;
}