html {
    font-family: 'Nunito', 'Arial', sans-serif;
    color: #19647E;
    background-color: #E5E5E5;
}

body {
    margin: 0;
    height: 100%;
}

button {
    background: #19647E;
    color: #FFF;
    padding: 0.5rem 1rem;
    border: 1px solid #124658;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

button:hover,
input[type=file]::file-selector-button:hover {
    background: #124658;
}

a,
a:visited {
    color: #034748;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
}

.header #links a {
    margin-right: 1rem;
}

.header #links a:last-child {
    margin-right: 0;
}

.header #content {
    text-align: center;
}

.header .title {
    font-size: 3rem;
}

.title-emph {
    font-weight: bold;
}

.description {
    max-width: 630px;
    width: calc(100% - 2rem);
}

.raw-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.raw-text-container textarea {
    resize: none;
    flex-grow: 1;
    height: 100%;
    outline: none;
    border-radius: 0.25rem;
}

.raw-text-container div {
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    height: calc(100vh - 2rem);
    padding: 1rem;
    --ag-line-height: 1.5rem;
}

#logsGrid {
    height: 100%;
}

/* ===================== FILE INPUT ===================== */
.file-area {
    width: 100%;
    position: relative;
}

.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.file-area .file-dummy {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.4);
    border: 2px dashed rgba(25, 100, 126, 0.4);
    border-radius: 0.25rem;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.2);
}

.file-area input[type=file]:focus+.file-dummy {
    outline: none;
}

.file-area input[type=file]:valid+.file-dummy {
    background-color: rgba(25, 100, 126, 0.2);
}

/* ===================== FILE INPUT ===================== */

/* ===================== AG GRID ===================== */
.ag-row .ag-cell {
    display: flex;
    align-items: center;
}

.filter-container {
    padding: 12px;
}

.filter-item {
    display: flex;
    align-items: center;
    height: 24px;
}

.filter-item-label {
    order: 1;
    margin-left: var(--ag-grid-size);
}

/* ===================== AG GRID ===================== */

/* ===================== ALT PAGES ===================== */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    max-width: 630px;
    width: calc(100% - 2rem);
}

#content h1 {
    padding-bottom: 1rem;
}

#content h2 {
    padding-bottom: 1rem;
}

.small {
    font-size: small;
}

/* ===================== ALT PAGES ===================== */

@media (prefers-color-scheme: dark) {
    html {
        background-color: #071e26;
        color: #d1e0e5;
    }

    .file-area .file-dummy {
        background: rgba(255, 255, 255, 0.1);
    }
    
    .file-area:hover .file-dummy {
        background: rgba(255, 255, 255, 0.2);
    }

    a,
    a:visited {
        color: #75a2b2;
    }
}